#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../../assets/img/backgrounds/k_letters.png') no-repeat scroll transparent;
      background-position: center top;
      background-position: 19vh 4vh;
      background-size: 173vh;
  }
  
  /* Pre-K Categories */
  #names_lowercase_alphabetical {
    background: url('../../../../assets/img/buttons/k_letters_names_alphabetical.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 30vh;
    cursor: pointer;
    width: 30vh;
    height: 15vh;
  }
  #names_lowercase_bmras {
    background: url('../../../../assets/img/buttons/k_letters_names_bmras.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 30vh;
    cursor: pointer;
    width: 30vh;
    height: 15vh;
  }
  #names_uppercase_alphabetical {
    background: url('../../../../assets/img/buttons/k_letters_names_capital_alphabetical.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 30vh;
    cursor: pointer;
    width: 30vh;
    height: 15vh;
  }
  #names_uppercase_bmras {
    background: url('../../../../assets/img/buttons/k_letters_names_capital_bmras.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 30vh;
    cursor: pointer;
    width: 30vh;
    height: 15vh;
  }
  #sounds_lowercase_alphabetical {
    background: url('../../../../assets/img/buttons/k_letters_sounds_alphabetical.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 30vh;
    cursor: pointer;
    width: 30vh;
    height: 15vh;
}
#sounds_lowercase_bmras {
  background: url('../../../../assets/img/buttons/k_letters_sounds_bmras.png') no-repeat scroll transparent;
  background-position: center;
  background-size: 30vh;
  cursor: pointer;
  width: 30vh;
  height: 15vh;
}
#sounds_uppercase_alphabetical {
  background: url('../../../../assets/img/buttons/k_letters_sounds_capital_alphabetical.png') no-repeat scroll transparent;
  background-position: center;
  background-size: 30vh;
  cursor: pointer;
  width: 30vh;
  height: 15vh;
}
#sounds_uppercase_bmras {
  background: url('../../../../assets/img/buttons/k_letters_sounds_capital_bmras.png') no-repeat scroll transparent;
  background-position: center;
  background-size: 30vh;
  cursor: pointer;
  width: 30vh;
  height: 15vh;
}


.category_button {
  width: 28vh;
  height: 22vh;
  border: none;
  margin-left: auto;
}
  .column {
    float: left;
    padding-top: 20vh;
  }

  .column2{
    float: right;
    padding-top: 20vh;
    padding-right: 55vh;
  }

  .category_button {
      margin-left: 7vh;
      border: none;
      display: inherit;
  }

  /* Clear floats after the columns */
  .column:after {
    content: "";
    display: table;
    clear: both;
  }