#background {
	background-color: #FFFFFF;
}

#side-menu {
	background-color: #6EC7D4;
}

#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 17vh;
  position: relative;
}

.column {
  float: left;
}

.puzzle-pane {
    height: 900px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 48vh;
    background-color: #ddf6f8;
}

.puzzle {
    position: relative;
    text-align: left;
    margin: auto;
    width: 36vh;
    height: 48vh;
    background-color: #d3ecee;
}

.puzzle-completed {
    cursor: pointer;
}

.puzzle-image {
    position: absolute;
    top: 0;
    width: 36vh;
    height: 48vh;
    opacity: 0;
}

.visible {
    opacity: 1;
}

.letter {
  font-size: 19.4vh;
  padding-top: -10vh;
  padding-bottom: 10vh;
  cursor: pointer;
  transition: all .5s;
  transform: scale(1);
}

::ng-deep span {
  color: red;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.word-image {
  cursor: pointer;
  margin-top: 6vh;
  width: 30vh;
  height: 30vh;
  transition: all .5s;
  transform: scale(1);
}

.word-image-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.word-image-bottom {
    margin-left: 10vh;
    margin-right: 10vh;
}

.animate {
  transition: all .75s;
  transform: scale(1.12);
}

.animate-default {
  transition: all .5s;
  transform: scale(1);
}

.animate-one {
  transition: all .5s;
  transform: scale(1.12);
}
.animate-two {
  transition: all .5s;
  transform: scale(1.12);
}
.animate-three {
  transition: all .5s;
  transform: scale(1.12);
}

.animate-puzzle {
  transition: all .5s;
  transform: scale(1.12);
}

.ex-temp1,
.ex-temp2,
.ex-temp3 {
  opacity: 0;
}

.animateEx1 {
  transition: all 0.5s linear;
  transform: translateY(17vh) scale(1.12) !important;
}
.animateEx2 {
  transition: all 0.5s linear;
  transform: translate(21vh, -17vh) scale(1.12) !important;
}
.animateEx3 {
  transition: all 0.5s linear;
  transform: translate(-21vh, -17vh) scale(1.12) !important;
}

/* Text */
h2 {
  font-size: 20px;
}

h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Buttons */
#forward {
    background: url('../../../assets/img/buttons/forward.png') no-repeat scroll 0 0 transparent;
    background-size: 9.5vh 9.5vh;
}

.answer {
  display: none;
  text-align: center;
  color: black;
}
.answer > span{
  color: red;
}

.show-answer {
  display: block;
}