<div id='background'>
    <div id='main-body'>
        <div class='row'>
            <div class='column puzzle-pane'>
                <div class='letter' [ngClass]="{'animate': phonemeAnimate}" (click)='playPhonemeAudio()'>{{phoneme.display}}</div>
                <div class='puzzle'>
                    <img *ngFor='let image of puzzlePieceImages; let i = index' class='puzzle-image' src={{image}} [ngClass]="{'visible':phoneme.puzzlePiecesEarned > i, 'animate-puzzle': puzzleAnimate && phoneme.puzzlePiecesEarned == i + 1}"><br>
                    <!-- <img src={{puzzlePieceImages[0]}} class='puzzle-image' [ngClass]="{'visible':phoneme.puzzlePiecesEarned > 0}"><br>
                    <img src={{puzzlePieceImages[1]}} class='puzzle-image' [ngClass]="{'visible':phoneme.puzzlePiecesEarned > 1}"><br>
                    <img src={{puzzlePieceImages[2]}} class='puzzle-image'><br>
                    <img src={{puzzlePieceImages[3]}} class='puzzle-image'><br>
                    <img src={{puzzlePieceImages[4]}} class='puzzle-image'><br>
                    <img src={{puzzlePieceImages[5]}} class='puzzle-image'><br>
                    <img src={{puzzlePieceImages[6]}} class='puzzle-image'><br>
                    <img src={{puzzlePieceImages[7]}} class='puzzle-image'><br>
                    <img src={{puzzlePieceImages[8]}} class='puzzle-image'><br>
                    <img src={{puzzlePieceImages[9]}} class='puzzle-image'><br>
                    <img src={{puzzlePieceImages[10]}} class='puzzle-image'><br>
                    <img src={{puzzlePieceImages[11]}} class='puzzle-image'><br> -->
                </div>
                <!-- <div>{{puzzlePieceImages}}</div> -->
            </div>
            <div class='column answer-pane'>
                <div class='row'>
                    <div [ngClass]="{'animate': ex1Animate}">
        				<img src={{img1}} class='word-image word-image-top' (click)='onClick1()'>
        				<br>
        			</div>
                </div>

    			<div class='column' [ngClass]="{'animate': ex2Animate}">
    				<img src={{img2}} class='word-image word-image-bottom' (click)='onClick2()'>
    				<br>
                </div>

    			<div class='column' [ngClass]="{'animate': ex3Animate}">
    				<img src={{img3}} class='word-image word-image-bottom' (click)='onClick3()'>
    				<br>
    			</div>
    		</div>
        </div>
	</div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' (click)='goBack()'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/'></button>
        <button mat-icon-button class='icon bottom' id='repeat' (click)="playAudio()"></button>
        <button mat-icon-button class='icon bottom' id='bank' routerLink='/coins'></button>
        <button mat-icon-button class='icon bottom' id='puzzle'></button>
    </div>
</div>
