#background {
	background-color: #FFFFFF;
}

#side-menu {
	background-color: #6EC7D4;
}

#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 20vh;
  position: relative;
}

.column {
  float: left;
}

.puzzle-pane {
    height: 900px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 48vh;
    background-color: lightblue;
}

.puzzle {
    position: relative;
    text-align: left;
    margin: auto;
    width: 36vh;
    height: 48vh;
    background-color: #6EC7D4;
}

.puzzle-image {
    position: absolute;
    top: 0;
    width: 36vh;
    height: 48vh;
    opacity: 0;
}

.visible {
    opacity: 1;
}

.letter {
  font-size: 19.4vh;
  padding-top: -10vh;
  padding-bottom: 10vh;
  cursor: pointer;
  transition: all .5s;
  transform: scale(1);
}

::ng-deep span {
  color: red;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.word-image {
  cursor: pointer;
  margin-top: 6vh;
  width: 30vh;
  height: 30vh;
  transition: all .5s;
  transform: scale(1);
}

.word-image-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.word-image-bottom {
    margin-left: 10vh;
    margin-right: 10vh;
}

.animate {
  transition: all .75s;
  transform: scale(1.12);
}

.animate-default {
  transition: all .5s;
  transform: scale(1);
}

.animate-one {
  transition: all .5s;
  transform: scale(1.12);
}
.animate-two {
  transition: all .5s;
  transform: scale(1.12);
}
.animate-three {
  transition: all .5s;
  transform: scale(1.12);
}

.animate-puzzle {
  transition: all .5s;
  transform: scale(1.12);
}

/* Text */
h2 {
  font-size: 20px;
}

h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Buttons */
#forward {
    background: url('../../../assets/img/buttons/forward.png') no-repeat scroll 0 0 transparent;
    background-size: 9.5vh 9.5vh;
}

/* Modal */
#puzzle-image {
  width: 68vh;
  height: 90vh;
  margin: 3vh 0 0 10vh;
  vertical-align: middle;
}
#rhyme {
  font-family: Arial, Helvetica, sans-serif !important;
  display: inline-block;
  text-align: left;
  width: 80vh;
  font-size: 3.3vh;
  margin: 3vh 0 0 5vh;
  vertical-align: middle;
  line-height: 5.5vh;
}
#rhyme ::ng-deep span {
  color: red;
  font-family: Arial, Helvetica, sans-serif !important;
}