<div id='background'>
    <div id='main-body'>
        <div class='row'>
            <div class='column puzzle-pane'>
                <div class='letter' [ngClass]="{'animate': phonemeAnimate}" (click)='playPhonemeAudio()'>{{phoneme.display}}</div>
                <div class='puzzle'>
                    <img *ngFor='let image of puzzlePieceImages; let i = index' class='puzzle-image' src={{image}} [ngClass]="{'visible':phoneme.puzzlePiecesEarned > i, 'animate-puzzle': puzzleAnimate && phoneme.puzzlePiecesEarned <= i + piecesToAnimate, 'animate-default': !puzzleAnimate}"><br>
                </div>
            </div>
            <div class='column answer-pane'>
                <div class='row'>
                    <div [ngClass]="{'animate': ex1Animate}">
        				<img src={{img1}} class='word-image word-image-top' (click)='onClick1()'>
        				<br>
        			</div>
                </div>

    			<div class='column' [ngClass]="{'animate': ex2Animate}">
    				<img src={{img2}} class='word-image word-image-bottom' (click)='onClick2()'>
    				<br>
                </div>

    			<div class='column' [ngClass]="{'animate': ex3Animate}">
    				<img src={{img3}} class='word-image word-image-bottom' (click)='onClick3()'>
    				<br>
    			</div>
            </div>
            <modal id="rhyme-modal">
                <div class="modal">
                    <div class="modal-body">
                        <img src={{puzzleimg}} id='puzzle-image'>
                        <div id='rhyme' [innerHtml]='text'></div>
                    </div>
                </div>
                <div class="modal-background"></div>
            </modal>
        </div>
	</div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' (click)='goBack()'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/'></button>
        <button mat-icon-button class='icon bottom' id='repeat' (click)="playAudio()"></button>
        <button mat-icon-button class='icon bottom' id='bank' routerLink='/coins'></button>
        <button mat-icon-button class='icon bottom' id='puzzle' routerLink='/puzzles'></button>
    </div>
</div>
