#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../../assets/img/backgrounds/third_vowelconsonants_details.png') no-repeat scroll transparent;
      background-position: 20vh;
      background-size: 215vh;
  }
  
  /* Second Categories */
  #r {
      background: url('../../../../assets/img/buttons/third_r.png') no-repeat scroll transparent;
      background-size: 90vh;
      margin-top: 9vh;
      cursor: pointer;
      width: 88vh;
  }
  #two-letter-blends {
    background: url('../../../../assets/img/buttons/third_two.png') no-repeat scroll transparent;
    background-size: 77vh;
    width: 75vh;
    cursor: pointer;
  }
  #three-letter-blends {
    background: url('../../../../assets/img/buttons/third_three.png') no-repeat scroll transparent;
    background-size: 76.5vh;
    cursor: pointer;
    width: 74vh;
  }

  .column {
    padding-top: 12vh;
  }

  .category_button {
      margin: 14.5vh 0vh 0vh 40vh;
      height: 14vh;
      border: none;
      display: inherit;
  }
  