<div id='background'>
    <div id='main-body'>
        <img src={{img}} id='puzzle-image'>
        <div id='rhyme' [innerHtml]='text'></div>
    </div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' (click)='goBack()'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/'></button>
        <button mat-icon-button class='icon bottom' id='repeat' (click)='playAudio()'></button>
        <button mat-icon-button class='icon bottom' id='bank' routerLink='/coins'></button>
        <button mat-icon-button class='icon bottom' id='puzzle' routerLink='/puzzles'></button>
    </div>
</div>