#background {
	background-color: #FFFFFF !important;
}

#side-menu {
	background-color: #6EC7D4 !important;
}

#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 22vh;
    position: relative;
}

#puzzle-image {
    width: 68vh;
    height: 90vh;
    margin: 3vh 0 0 10vh;
    vertical-align: middle;
}

#rhyme {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: left;
    width: 65vh;
    height: 90vh;
    font-size: 3.5vh;
    margin: 3vh 0 0 5vh;
    vertical-align: middle;
    line-height: 5.5vh;
}

::ng-deep span {
    color: red;
}