#background {
    overflow: visible !important;
}
#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 22vh;
    position: relative;
}

#column {
    width: 42vh;
}

.phoneme_button {
    background: url('../../../assets/img/sight-words/ape.png') no-repeat scroll;
    background-position: 73% 50%;
    background-size: 21vh 26vh;
}

.cardList {
    display: flex;
    height: 97vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
}

#I-IND-long img {
    transform: translate(24.5vh, -20vh); 
}
#I-IND-short img {
    width: 45%;
    transform: translate(26vh, -19vh);
}
#I-ION img {
    transform: translate(25vh, -20vh);
}
#I-ILD img {
    transform: translate(23.1vh, -20vh);
}
#N-NG img {
    transform: translate(23vh, -20vh);
}
#O-ew img {
    transform: translate(23vh, -20vh);
}
#P-PH-begin img {
    transform: translate(23.5vh, -20vh);
}
#S-SCR img {
    transform: translate(25vh, -20vh);
}
#S-SM img {
    transform: translate(23vh, -20vh);
}
#S-SPL img {
    transform: translate(24vh, -20vh);
}
#S-SPR img {
    transform: translate(25vh, -20vh);
}
#S-SW img {
    transform: translate(23vh, -20vh);
}
#T-TCH-silent img {
    transform: translate(26vh, -20vh);
}
#W-WH img {
    transform: translate(24vh, -20vh);
}
#W-WR-silent img {
    transform: translate(23.5vh, -20vh);
}

/* Column Gap */
.cardList > * {
    box-sizing: border-box;
}

/* Item sizing */
.cardListItem {
    flex: 0 1 calc(33.3% - 4.7vh);
    height: 38vh;
    margin-top: 5vh;
    margin-right: 4.7vh;
    border-radius: 2.8vh;
    cursor: pointer;
    background-color: #FFFFFF;
    font-size: 12vh;
    border-bottom: 3vh solid #DEDEDE;
    overflow: hidden;
}

p {
    margin: 9vh 0vh 0vh 9vh;
}

.hide {
    display: none;
}

.alphabet-list-bottom {
    transform: translateY(13vh);
}

/* Phoneme label colors */
.green {
    color: #73EC12;
}
.pink {
    color: #EB5AD1;
}
.red {
    color: #ff0000;
}

.word-image {
    width: 50%;
    transform: translate(22vh, -20vh);
}

/* Scrollbar */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9.5vh;
    background-color: #e6f6f7;
    box-shadow: 0vh 0vh .3vh rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    background-color: #60a0bd;
    border: 0.5vh solid #fff;
    border-radius: 1.5vh;
    box-shadow: 0vh 0vh .3vh rgba(0,0,0,0.3);
}
::-webkit-scrollbar-button {
    background-size: 100%;
    border: 0.5vh solid #fff;
    border-radius: 1.5vh;
    height: 9.5vh;
    background-color: #60a0bd;
    box-shadow: 0vh 0vh .3vh rgba(0,0,0,0.3);
}
::-webkit-scrollbar-button:decrement {
    background-image: url('../../../assets/img/buttons/scroll-up.png');
    background-position: center;
}
::-webkit-scrollbar-button:increment {
    background-image: url('../../../assets/img/buttons/scroll-down.png');
    background-position: center;
}
::-webkit-scrollbar-button:increment:start,
::-webkit-scrollbar-button:decrement:end {
    display: none;
}