#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 22vh;
    position: relative;
}

#column {
    width: 42vh;
}

.phoneme_button {
    background: url('../../../assets/img/sight-words/ape.png') no-repeat scroll;
    background-position: 73% 50%;
    background-size: 21vh 26vh;
}

.app-card {
    height: 0vh;
}
.cardList {
    display: flex;
    height: 97vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: scroll;
}

/* Column Gap */
.cardList > * {
    box-sizing: border-box;
}

/* Item sizing */
.cardListItem {
    flex: 0 1 calc(33.3% - 6.5vh);
    height: 38vh;
    margin-top: 5vh;
    margin-right: 32px;
    border-radius: 2.8vh;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    font-family: 'ComicSans';
    font-size: 12vh;
    border-bottom: 3vh solid #DEDEDE;
    overflow: hidden;
}

p {
    margin: 9vh 0vh 0vh 9vh;
}

.hide {
    display: none;
}

.alphabet-list-bottom {
    transform: translateY(13vh);
}

/* Phoneme label colors */
.green {
    color: #73EC12;
}
.purple {
    color: #EB5AD1;
}
.orange {
    color: #EB5AD1;
}

.word-image {
    width: 50%;
    transform: translate(22vh, -20vh);
}