#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../../assets/img/backgrounds/first_vowels.png') no-repeat scroll transparent;
      background-position: center top;
      background-size: 132vh;
  }
  
  /* First Categories */
  #short {
      background: url('../../../../assets/img/buttons/first_vowels_short.png') no-repeat scroll transparent;
      background-position: center;
      background-size: 72vh;
      cursor: pointer;
      width: 72vh;
      height: 20vh;
      margin-top: 2.5vh;
      margin-left: 30vh;
  }
  #long {
    background: url('../../../../assets/img/buttons/first_vowels_long.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 72vh;
    cursor: pointer;
    width: 77vh;
    height: 21vh;
    margin-top: 2vh;
    margin-left: 30vh;
  }
  #pairs {
    background: url('../../../../assets/img/buttons/first_vowels_pairs.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 77vh;
    cursor: pointer;
    width: 77vh;
    height: 18vh;
    margin-left: 30vh;
  }
  #y_sounds {
    background: url('../../../../assets/img/buttons/first_vowels_y_sounds.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 77vh;
    cursor: pointer;
    width: 89vh;
    height: 22vh;
    margin-left: 30vh;
  }

  .column {
    padding-top: 12vh;
  }

  .category_button {
      margin-left: 25vh;
      border: none;
      display: inherit;
  }
