#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../../assets/img/backgrounds/first_vowels.png') no-repeat scroll transparent;
      background-position: 14vh;
      background-size: 165vh;
  }
  
  /* First Categories */
  #short_vowels {
      background: url('../../../../assets/img/buttons/first_vowels_short.png') no-repeat scroll transparent;
      background-position: center;
      background-size: 70vh;
      cursor: pointer;
      width: 70vh;
      height: 15vh;
      margin-top: 4vh;
  }
  #long_vowels {
    background: url('../../../../assets/img/buttons/first_vowels_long.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 65vh;
    cursor: pointer;
    width: 65vh;
    height: 15vh;
  }
  #vowel_pairs {
    background: url('../../../../assets/img/buttons/first_vowels_pairs.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 66vh;
    cursor: pointer;
    width: 66vh;
    height: 15vh;
  }
  #y_sounds {
    background: url('../../../../assets/img/buttons/first_vowels_y_sounds.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 69vh;
    cursor: pointer;
    width: 69vh;
    height: 15vh;
  }

  .column {
    padding-top: 12vh;
  }

  .category_button {
      margin: 6vh 0vh 0vh 41vh;
      border: none;
      display: inherit;
  }
