#background {
  background-color: #FFFFFF !important;
}

#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 22vh;
  position: relative;
}

.column {
  float: left;
}

#letter, 
#letter2, 
#letter3, 
#letter4 {
    font-size: 19.4vh;
    cursor: pointer;
}
#letter,
#letter3 {
  margin-left: 55vh;
}
#letter2,
#letter4 {
  margin-left: 35vh;
}
#letter,
#letter2 {
  margin-top: 18vh;
}

.letter-temp,
.letter-temp2,
.letter-temp3,
.letter-temp4 {
  color: white;
}

.animateLetter1 {
  transition: all 0.5s linear;
  transform: translate(22vh, 10vh) scale(1.12) !important;
}
.animateLetter2 {
  transition: all 0.5s linear;
  transform: translate(-22vh, 10vh) scale(1.12) !important;
}
.animateLetter3 {
  transition: all 0.5s linear;
  transform: translate(22vh, -10vh) scale(1.12) !important;
}
.animateLetter4 {
  transition: all 0.5s linear;
  transform: translate(-22vh, -10vh) scale(1.12) !important;
}

/* Buttons */
#forward {
    background: url('../../../assets/img/buttons/forward.png') no-repeat scroll 0 0 transparent;
    background-size: 9.5vh 9.5vh;
}

.bottom {
  transform: translateY(13vh);
}
