#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../assets/img/backgrounds/k_categories.png') no-repeat scroll transparent;
      background-position: 30vh;
      background-size: 140vh;
  }
  
  /* Phonics Categories */
  #names {
      background: url('../../../assets/img/buttons/k_letter_names.png') no-repeat scroll transparent;
      background-position: center;
      background-size: 55vh;
      cursor: pointer;
  }
  #sounds {
    background: url('../../../assets/img/buttons/k_letter_sounds.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 55vh;
    cursor: pointer;
}

  #beginning-sounds {
      background: url('../../../assets/img/buttons/k_beginning_sounds_button.png') no-repeat scroll transparent;
      background-position: center;
      background-size: 55vh;
      cursor: pointer;
  }
  #ending-sounds {
    background: url('../../../assets/img/buttons/k_ending_sounds_button.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 55vh;
    cursor: pointer;
}

  #vowels {
    background: url('../../../assets/img/buttons/k_vowels_button.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 55vh;
    cursor: pointer;
}
  
  .category_button {
      width: 55vh;
      height: 35vh;
      margin: 55vh 10vh 0vh 0vh;
      border: none;
      margin-left: auto;
  }
  
  .row {
    float: left;
    margin-left: 3vh;
  }
  
  .column {
      padding-top: 2.5vh;
  }
  /* Clear floats after the columns */
  .column:after {
    content: "";
    display: table;
    clear: both;
  }
