#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../assets/img/backgrounds/k_categories.png') no-repeat scroll transparent;
      background-position: 30vh;
      background-size: 140vh;
  }
  
  /* Phonics Categories */
  #names {
      background: url('../../../assets/img/buttons/k_letter_names.png') no-repeat scroll transparent;
      background-position: center;
      background-size: 100%;
      cursor: pointer;
  }
  #sounds {
    background: url('../../../assets/img/buttons/k_letter_sounds.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
}

  #beginning-sounds {
      background: url('../../../assets/img/buttons/k_beginning_sounds_button.png') no-repeat scroll transparent;
      background-position: center;
      background-size: 100%;
      cursor: pointer;
  }
  #ending-sounds {
    background: url('../../../assets/img/buttons/k_ending_sounds_button.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
}

  #vowels {
    background: url('../../../assets/img/buttons/k_vowels_button.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
}
  
  .category_button {
      width: 28vh;
      height: 22vh;
      margin: 5vh 5vh 0vh 0vh;
      border: none;
      margin-left: auto;
  }

  .row1 {
    float: center;
    margin-left: 20vh;
  }
  
  .row2 {
    float: center;
    margin-left: 3vh;
  }
  
  .column {
      padding-top: 40vh;
      padding-left: 10vh;
  }
  /* Clear floats after the columns */
  .column:after {
    content: "";
    display: table;
    clear: both;
  }
