<div id='background'>
    <div id='main-body'>
        <div class='column'>
            <div class='row1'>
                <button mat-icon-button class='category_button' id='letters' (mouseenter)='playAudio($event)' routerLink='/k-letters-details'></button>
                <button mat-icon-button class='category_button' id='beginning-sounds' (mouseenter)='playAudio($event)' routerLink='/k-beginning-sounds-details'></button>
            </div>
            <div class='row2'>
                <button mat-icon-button class='category_button' id='vowels' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'grade': 'K', list:'V-short'}"></button>
                <button mat-icon-button class='category_button' id='ending-sounds' (mouseenter)='playAudio($event)' routerLink='/k-ending-sounds-details'></button>
            </div>
        </div>
    </div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' (click)='goBack()'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/home'></button>
        <button mat-icon-button class='icon bottom' id='bank' routerLink='/coins'></button>
        <button mat-icon-button class='icon bottom' id='puzzle' routerLink='/puzzles'></button>
    </div>
</div>
