#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
}

#background {
    background-color: #FFFFFF !important;
    background: url('../../../assets/img/backgrounds/second_categories.png') no-repeat scroll transparent;
    background-position: center top;
    background-size: 160vh;
}
  
/* Phonics Categories */
#consonants {
    background: url('../../../assets/img/buttons/second_consonants.png') no-repeat scroll transparent;
    background-size: 50vh;
    margin-top: 22vh;
    background-position: center;
    cursor: pointer;
}
#vowels {
    background: url('../../../assets/img/buttons/second_vowels.png') no-repeat scroll transparent;
    background-size: 50vh;
    background-position: center;
    cursor: pointer;
}
  
.category_button {
    width: 50vh;
    height: 22vh;
    margin: 12vh 0vh 0vh 33vh;
    border: none;
    display: inherit;
}

.column {
    padding-top: 2.5vh;
}
/* Clear floats after the columns */
.column:after {
    content: "";
    display: table;
    clear: both;
}