#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../assets/img/backgrounds/first_categories.png') no-repeat scroll transparent;
      background-position: 30vh;
      background-size: 140vh;
  }
  
  /* Phonics Categories */
  #letters {
      background: url('../../../assets/img/buttons/first_letters_button.png') no-repeat scroll transparent;
      background-position: center;
      background-size: 100%;
      cursor: pointer;
  }

  #consonants {
      background: url('../../../assets/img/buttons/first_consonants_button.png') no-repeat scroll transparent;
      background-position: center;
      background-size: 100%;
      cursor: pointer;
  }
  #vowels {
    background: url('../../../assets/img/buttons/first_vowels_button.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 100%;
    cursor: pointer;
}
  
  .category_button {
      width: 28vh;
      height: 22vh;
      border: none;
      margin-left: auto;
  }

  
  .column {
      float: center;
      padding-top: 20vh;
  }

  .row{
      margin-left: 50vh;
      padding-top: 2.5vh;
  }
  /* Clear floats after the columns */
  .column:after {
    content: "";
    display: table;
    clear: both;
  }
