modal {
    display: none;
}
modal .modal {
    position: fixed;
    top: 0vh;
    right: 0;
    bottom: 0;
    left: 28.5vh;
    z-index: 1000;
    overflow: auto;
}
modal .modal .modal-body {
    background: #fff;
    padding-left: 5vh;
    padding: 1.5vh 0vh 5vh 5vh;
    width: 169.7vh;
}
body.modal-open {
    overflow: hidden;
}