#background {
  background-color: #FFFFFF !important;
}

#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 22vh;
  position: relative;
}

#column {
    width: 42vh;
}

.back-button {
    width: 9.5vh;
    height: 9.5vh;
    display: block;
    position: absolute;
    margin-left: 10vh;
    /* cursor: pointer; */
    margin-bottom: 3.5vh;
    border: none;
    margin-top: 45vh;
    opacity: 0.2;
}

.after-button {
    width: 9.5vh;
    height: 9.5vh;
    display: block;
    position: absolute;
    margin-left: 103vh;
    /* cursor: pointer; */
    margin-bottom: 3.5vh;
    border: none;
    margin-top: 45vh;
    opacity: 0.2;
}

.letter {
  font-size: 19.4vh;
  font-family: 'ComicSans';
  padding-top: -10vh;
  margin-left: 44vh;
  padding-top: 30vh;
  cursor: pointer;
  transition: all .5s;
  transform: scale(1) translate(11vh, 3vh);
}

.animateLetter {
  transition: all .5s;
  transform: translate(18vh, 3vh) scale(1.12) !important;
}


/* Buttons */
#forward {
    background: url('../../../assets/img/icons/forward.png') no-repeat scroll 0 0 transparent;
    background-size: 9.5vh 9.5vh;
}
