<div id='background'>
    <div id='main-body'>
    	<!-- Add the letter 'a' image -->
        <button mat-icon-button class='back-button' id='back'></button>
        <button mat-icon-button class='after-button' id='forward'></button>
	 	<div class='letter' [ngClass]="{'animate': phonemeAnimate}" (click)='playAudioA()'>a</div>
    	<div class='row'>
	    	<div class='column' [ngClass]="{'animate': apeAnimate}" (click)='playApeAudio()'>
				<img src='../../assets/img/words/ape.jpg' class='word-image ape'>
				<br>
				<div class='column text'><span style='color: red'>a</span>pe</div>
			</div>
			<div class='column' [ngClass]="{'animate': skateAnimate}" (click)='playSkateAudio()'>
				<img src='../../assets/img/words/skate.jpg' class='word-image'>
				<br>
				<div class='column text'>sk<span style='color: red'>a</span>te</div>
			</div>
			<div class='column' [ngClass]="{'animate': craneAnimate}" (click)='playCraneAudio()'>
				<img src='../../assets/img/words/crane.jpg' class='word-image'>
				<br>
				<div class='column text'>cr<span style='color: red'>a</span>ne</div>
			</div>
		</div>
	</div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' routerLink='/phoneme-list-all'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/'></button>
        <button mat-icon-button class='icon bottom' id='repeat' (click)="playAudio()"></button>
        <button mat-icon-button class='icon bottom' id='quiz'></button>
        <button mat-icon-button class='icon bottom' id='bank'></button>
        <button mat-icon-button class='icon bottom' id='puzzle'></button>
    </div>
</div>
