#background {
	background-color: #FFFFFF !important;
}

#side-menu {
	background-color: #6EC7D4 !important;
}

#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 20vh;
    position: relative;
}


.column {
  /*width: 33.33%;*/
  margin-left: 15vh;
  padding: 10px;
}

.word-image {
  height: 25vh;
  width: 20vh;
  margin-top: 50vh;
  transition: all .25s;
  transform: scale(1);
}

.animate {
    transform: scale(1.25) !important;
}