#background {
	background-color: #FFFFFF !important;
}

#side-menu {
	background-color: #6EC7D4 !important;
}

#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 40vh;
  position: relative;
}

.column {
  float: left;
  width: 42vh;
}

.column .text {
  font-size: 32px;
  margin-left: 3vh;
  font-family: 'ComicSans';
  cursor: pointer;
}

.letter {
  font-size: 128px;
  font-family: 'ComicSans';
  margin-left: 45vh;
  cursor: pointer;
  transition: all .5s;
  transform: scale(1);
  width: 10vh;
}

.back-button {
    width: 9.5vh;
    height: 9.5vh;
    display: block;
    position: absolute;
    margin-left: 3.8vh;
    cursor: pointer;
    margin-bottom: 3.5vh;
    border: none;
    margin-top: 8vh;
}

.after-button {
    width: 9.5vh;
    height: 9.5vh;
    display: block;
    position: absolute;
    margin-left: 88vh;
    cursor: pointer;
    margin-bottom: 3.5vh;
    border: none;
    margin-top: 8vh;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.word-image {
  transition: all .5s;
  transform: scale(1);
  margin-top: 30vh;
  cursor: pointer;
}

.word-image.ape {
  width: 27vh;
  height: 33vh;
}
.word-image.skate {
  width: 24vh;
  height: 34vh;
}
.word-image.crane {
  width: 34vh;
  height: 33vh;
}

.animate {
  transition: all .5s;
  transform: scale(1.25) !important;
}

/* Text */
h2 {
  font-size: 20px;
}

h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Buttons */

#forward {
    background: url('../../../assets/img/icons/forward.png') no-repeat scroll 0 0 transparent;
    background-size: 9.5vh 9.5vh;
}