:root {
  --blue: #6abad7;
  --brown: #bc8f75;
  --light-green: #96e4a2;
  --green: #66cf69;
  --red: #e0696b;
  --light-orange: #f3b88c;
  --orange: #ee8640;
  --pink: #f3b2c8;
  --purple: #b87cbe;
  --light-yellow: #fdf885;
  --yellow: #fcf351;
}
