<div id='background'>
    <div id='main-body'>
        <div class='column'>
            <div class='row'>
                <button mat-icon-button class='category_button' id='sound-begin' (mouseenter)='playAudio($event)' [routerLink]="['/list-select']" [queryParams]="{'grade' : '2nd', 'list': 'C-begin'}"></button>
                <button mat-icon-button class='category_button' id='sound-end' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'grade' : '2nd', 'list': 'C-end'}"></button>
            </div>
            <button mat-icon-button class='category_button' id='cg' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'grade' : '2nd', 'list': 'CG'}"></button>
            <div class='row'>
                <button mat-icon-button class='category_button' id='blend-begin' (mouseenter)='playAudio($event)' [routerLink]="['/list-select']" [queryParams]="{'grade' : '2nd', 'list': 'CB-begin'}"></button>
                <button mat-icon-button class='category_button' id='blend-end' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'grade' : '2nd', 'list': 'CB-end'}"></button>
            </div>
            <div class='row'>
                <button mat-icon-button class='category_button' id='blend-three' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'grade' : '2nd', 'list': 'CB-3'}"></button>
                <button mat-icon-button class='category_button' id='silent' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'grade' : '2nd', 'list': 'V-long'}"></button>
            </div>
            <button mat-icon-button class='category_button' id='digraph-begin' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'grade' : '2nd', 'list': 'CD-begin'}"></button>
            <button mat-icon-button class='category_button' id='digraph-end' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'grade' : '2nd', 'list': 'CD-end'}"></button>
        </div>
    </div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' (click)='goBack()'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/'></button>
        <button mat-icon-button class='icon bottom' id='bank' routerLink='/coins'></button>
        <button mat-icon-button class='icon bottom' id='puzzle' routerLink='/puzzles'></button>
    </div>
</div>