#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 40vh;
  position: relative;
}

#background {
    background-color: #FFFFFF !important;
    background: url('../../../../assets/img/backgrounds/second_consonants_details.png') no-repeat scroll transparent;
    background-position: 19vh 2vh;
    background-size: 169vh;
}

/* Phonics Categories */
#sound-begin {
    background: url('../../../../assets/img/buttons/second_sound_begin.png') no-repeat scroll transparent;
    background-size: 65vh;
    margin: 17.5vh 0vh 0vh -6vh;
    height: 13.5vh;
    cursor: pointer;
    width: 63vh;
}
#sound-end {
    background: url('../../../../assets/img/buttons/second_sound_end.png') no-repeat scroll transparent;
    background-size: 55vh;
    margin: 17.5vh 0vh 0vh 33vh;
    cursor: pointer;
    height: 13.5vh;
    width: 54vh;
}
#cg {
    background: url('../../../../assets/img/buttons/second_cg.png') no-repeat scroll transparent;
    background-size: 80vh;
    cursor: pointer;
    width: 78vh;
}
#blend-begin {
    background: url('../../../../assets/img/buttons/second_blend_begin.png') no-repeat scroll transparent;
    background-size: 61vh;
    cursor: pointer;
    width: 59vh;
}
#blend-end {
    background: url('../../../../assets/img/buttons/second_blend_end.png') no-repeat scroll transparent;
    background-size: 50vh;
    margin-left: 37vh;
    cursor: pointer;
    width: 49vh;
}
#blend-three {
    background: url('../../../../assets/img/buttons/second_blend_3.png') no-repeat scroll transparent;
    background-size: 60vh;
    cursor: pointer;
    width: 58vh;
}
#silent {
  background: url('../../../../assets/img/buttons/second_silent.png') no-repeat scroll transparent;
  background-size: 29vh;
  margin-left: 38vh;
  cursor: pointer;
  width: 28vh;
}
#digraph-begin {
  background: url('../../../../assets/img/buttons/second_digraph_begin.png') no-repeat scroll transparent;
  background-size: 91.5vh;
  cursor: pointer;
  width: 79vh;
}
#digraph-end {
  background: url('../../../../assets/img/buttons/second_digraph_end.png') no-repeat scroll transparent;
  background-size: 73vh;
  display: block;
  cursor: pointer;
  width: 71vh;
}

.category_button {
    height: 10vh;
    margin: 1.5vh 0vh 0vh -5vh;
    border: none;
}

.column {
    padding-top: 2.5vh;
}
/* Clear floats after the columns */
.column:after {
  content: "";
  display: table;
  clear: both;
}
