#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 25vh;
  position: relative;
}

#column {
    width: 42vh;
}

.phoneme_button {
    background: url('../../assets/img/words/ape.jpg') no-repeat scroll;
    background-position: 140px 50px;
    background-size: 20vh 24vh;
    width: 50vh;
    height: 40vh;
    margin-top: 5vh;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    font-family: ComicSans;
    font-size: 100px;
    text-align: left;
    padding-left: 8vh;
    border-bottom: 4vh solid #DEDEDE;
}
