<div id='background'>
    <div id='main-body'>
        <div class='column'>
            <button mat-icon-button class='phoneme_button' routerLink='/a'>a</button>
        </div>
    </div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' routerLink='/phoneme-categories'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/'></button>
        <button mat-icon-button class='icon bottom' id='repeat'></button>
        <button mat-icon-button class='icon bottom' id='quiz'></button>
        <button mat-icon-button class='icon bottom' id='bank'></button>
        <button mat-icon-button class='icon bottom' id='puzzle'></button>
    </div>
</div>
