#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 22vh;
  position: relative;
}

#column {
    width: 42vh;
}

.cardList {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
}

 /* Column Gap */
.cardList > * {
   box-sizing: border-box;
}
.cardList > *:not(:last-child) {
   margin-right: 32px;
}

/* Item sizing */
.cardListItem {
   flex: 0 1 calc(33.3% - 50px);
   margin-bottom: 50px;
}
