<div id='background'>
    <div id='main-body'>
        <div class='column'>
            <div class="cardList">
                <ng-container *ngFor="let phoneme of phonemes | keyvalue: sortNull">
                    <app-card class="cardListItem" (click)='openPuzzle(phoneme.key)'>
                        <p>{{phoneme.value}}</p>
                    </app-card>
                </ng-container>
            </div>
        </div>
    </div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' (click)='goBack()'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/'></button>
        <button mat-icon-button class='icon bottom' id='bank' routerLink='/coins'></button>
        <button mat-icon-button class='icon bottom' id='puzzle'></button>
    </div>
</div>