<div id='background'>
    <div id='main-body'>
        <div class='column'>
            <div class='row'>
                <button mat-icon-button class='category_button' id='consonants' (mouseenter)='playAudio($event)' [routerLink]="['/list-select']" [queryParams]="{'list': 'phoneme'}"></button>
                <button mat-icon-button class='category_button' id='vowel_and_consonants' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'list': 'phoneme'}"></button>
                <button mat-icon-button class='category_button' id='vowels' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'list': 'phoneme'}"></button>
            </div>
            <div class='row'>
                <button mat-icon-button class='category_button' id='consonant_blends' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'list': 'phoneme'}"></button>
                <button mat-icon-button class='category_button' id='all' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'list': 'phoneme'}"></button>
                <button mat-icon-button class='category_button' id='vowel_pairs' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'list': 'phoneme'}"></button>
            </div>
        </div>
    </div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' routerLink='/'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/'></button>
        <button mat-icon-button class='icon bottom' id='bank'></button>
        <button mat-icon-button class='icon bottom' id='puzzle'></button>
    </div>
</div>
