<div id='background'>
    <div id='main-body'>

        <div class = 'row'>
            <div class='column'>
                <button mat-icon-button class='category_button' id='consonants' routerLink='/phoneme-list-consonants'></button>

                <button mat-icon-button class='category_button' id='consonant_blends' routerLink='/phoneme-list-consonantblends'></button>

                <button mat-icon-button class='category_button' id='vowel_and_consonants' routerLink='/phoneme-list-vowelsconsonants'></button>
            </div>

            <div class='column'>
                <button mat-icon-button class='category_button' id='vowels' (mouseenter)='playAudio()' routerLink='/phoneme-list-vowels'></button>

                <button mat-icon-button class='category_button' id='vowel_blends' routerLink='/phoneme-list-vowelblends'></button>

                <button mat-icon-button class='category_button' id='all' routerLink='/phoneme-list-all'></button>
            </div>
        </div>
    </div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' routerLink='/'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/'></button>
        <button mat-icon-button class='icon bottom' id='bank'></button>
        <button mat-icon-button class='icon bottom' id='puzzle'></button>
    </div>
</div>
