#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 40vh;
  position: relative;
}

#background {
    background-color: #FFFFFF !important;
    background: url('../../../../assets/img/backgrounds/third_vowels_details.png') no-repeat scroll transparent;
    background-position: 10vh;
    background-size: 200vh;
}

/* Phonics Categories */
#short {
    background: url('../../../../assets/img/buttons/third_vowels_short.png') no-repeat scroll transparent;
    background-size: 38.5vh;
    margin-top: 18vh;
    cursor: pointer;
    width: 36vh;
}
#long {
    background: url('../../../../assets/img/buttons/third_vowels_long.png') no-repeat scroll transparent;
    background-size: 33vh;
    cursor: pointer;
    width: 31vh;
}
#schwa {
    background: url('../../../../assets/img/buttons/third_vowels_schwa.png') no-repeat scroll transparent;
    background-size: 43vh;
    cursor: pointer;
    width: 41vh;
}
#pairs {
    background: url('../../../../assets/img/buttons/third_vowels_pairs.png') no-repeat scroll transparent;
    background-size: 37vh;
    margin: 18vh 0vh 0vh 8.5vh;
    cursor: pointer;
    width: 35vh;
}
#y {
    background: url('../../../../assets/img/buttons/third_vowels_y.png') no-repeat scroll transparent;
    background-size: 49vh;
    cursor: pointer;
    margin-left: 13.5vh;
    width: 48vh;
}
#e {
    background: url('../../../../assets/img/buttons/third_vowels_e.png') no-repeat scroll transparent;
    background-size: 44vh;
    cursor: pointer;
    width: 43vh;
    margin-left: 4vh;
}

.category_button {
    width: 39vh;
    height: 15.7vh;
    margin: 5vh 0vh 0vh 9vh;
    border: none;
}

.row {
  float: left;
  margin-left: 3vh;
}

.column {
    padding-top: 2.5vh;
}
/* Clear floats after the columns */
.column:after {
  content: "";
  display: table;
  clear: both;
}
