<div id='background'>
    <div id='main-body'>
        <button mat-icon-button class='back-button' id='back'></button>
        <button mat-icon-button class='after-button' id='forward'></button>
	 	<div class='letter' [ngClass]="{'animate-one': oneAnimate, 'animate-two': twoAnimate, 'animate-three': threeAnimate}" (click)='playAudioA()'>{{phoneme.display}}</div>
    	<div class='row'>
	    	<div class='column' [ngClass]="{'animate': ex1Animate}">
				<img src={{img1}} class='word-image ape' (click)='playEx1Audio()'>
				<br>
				<div class='column text' (click)='playEx1Audio()' [innerHtml]='word1'></div>
			</div>

			<div class='column' [ngClass]="{'animate': ex2Animate}">
				<img src={{img2}} class='word-image skate' (click)='playEx2Audio()'>
				<br>
				<div class='column text' (click)='playEx2Audio()' [innerHtml]='word2'></div>
			</div>

			<div class='column' [ngClass]="{'animate': ex3Animate}">
				<img src={{img3}} class='word-image crane' (click)='playEx3Audio()'>
				<br>
				<div class='column text' (click)='playEx3Audio()' [innerHtml]='word3'></div>
			</div>
		</div>
	</div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' (click)='goBack()'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/'></button>
        <button mat-icon-button class='icon bottom' id='repeat' (click)="playAudio()"></button>
        <button mat-icon-button class='icon bottom' id='quiz' (click)="showQuiz()"></button>
        <button mat-icon-button class='icon bottom' id='bank' routerLink='/coins'></button>
        <button mat-icon-button class='icon bottom' id='puzzle' routerLink='/coins'></button>
    </div>
</div>
