#background {
    width: 1980px;
    height: 1030px;
    background-color: #6EC7D4;
    margin: auto;
}

#side-menu {
    width: 185px;
    height: 1030px;
    background-color: #C4E8E6;
}

.icon {

}