#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 40vh;
  position: relative;
}

#background {
    background-color: #FFFFFF !important;
    background: url('../../../../assets/img/backgrounds/first_letters.png') no-repeat scroll transparent;
    background-position: 19vh 4vh;
    background-size: 173vh;
}

/* Phonics Categories */
#names_lowercase_bmras {
    background: url('../../../../assets/img/buttons/names_lowercase_bmras.png') no-repeat scroll transparent;
    background-size: 52vh;
    margin-top: 23vh;
    cursor: pointer;
}
#sounds_lowercase_bmras {
    background: url('../../../../assets/img/buttons/sounds_lowercase_bmras.png') no-repeat scroll transparent;
    background-size: 52vh;
    cursor: pointer;
    margin-left: 6.5vh;
}
#names_lowercase_alphabetical {
    background: url('../../../../assets/img/buttons/names_lowercase_alphabetical.png') no-repeat scroll transparent;
    background-size: 52vh;
    cursor: pointer;
}
#sounds_lowercase_alphabetical {
    background: url('../../../../assets/img/buttons/sounds_lowercase_alphabetical.png') no-repeat scroll transparent;
    background-size: 52vh;
    cursor: pointer;
    margin-left: 6.5vh;
}
#names_uppercase_bmras {
    background: url('../../../../assets/img/buttons/names_uppercase_bmras.png') no-repeat scroll transparent;
    background-size: 52vh;
    cursor: pointer;
}
#sounds_uppercase_bmras {
    background: url('../../../../assets/img/buttons/sounds_uppercase_bmras.png') no-repeat scroll transparent;
    background-size: 52vh;
    cursor: pointer;
    margin-left: 6.5vh;
}
#names_uppercase_alphabetical {
  background: url('../../../../assets/img/buttons/names_uppercase_alphabetical.png') no-repeat scroll transparent;
  background-size: 52vh;
  cursor: pointer;
}
#sounds_uppercase_alphabetical {
  background: url('../../../../assets/img/buttons/sounds_uppercase_alphabetical.png') no-repeat scroll transparent;
  background-size: 52vh;
  cursor: pointer;
  margin-left: 6.5vh;
}

.category_button {
    width: 52vh;
    height: 13vh;
    margin: 4vh 0vh 0vh 5vh;
    border: none;
}

.column {
    padding-top: 2.5vh;
}
/* Clear floats after the columns */
.column:after {
  content: "";
  display: table;
  clear: both;
}
