#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 40vh;
  position: relative;
}

#background {
    background-color: #FFFFFF !important;
}

/* Phonics Categories */
#pre-k {
    background: url('../../../assets/img/buttons/pre_k.png') no-repeat scroll transparent;
    background-size: 33vh;
    margin-left: 32vh;
    width: 33vh;
    height: 34vh;
    cursor: pointer;
}
#kindergarten {
    background: url('../../../assets/img/buttons/kindergarten.png') no-repeat scroll transparent;
    background-size: 33vh;
    margin-left: 23vh;
    width: 33vh;
    height: 34vh;
    cursor: pointer;
}
#first {
    background: url('../../../assets/img/buttons/1st.png') no-repeat scroll transparent;
    background-size: 30vh;
    margin-left: 6vh;
    width: 30vh;
    height: 16vh;
    cursor: pointer;
}
#second {
    background: url('../../../assets/img/buttons/2nd.png') no-repeat scroll transparent;
    background-size: 30vh;
    margin-left: 26vh;
    width: 30vh;
    height: 16vh;
    cursor: pointer;
}
#third {
    background: url('../../../assets/img/buttons/3rd.png') no-repeat scroll transparent;
    background-size: 30vh;
    margin-left: 25vh;
    width: 30vh;
    height: 16vh;
    cursor: pointer;
}
#phonics {
    background: url('../../../assets/img/buttons/phonics_logo.png') no-repeat scroll transparent;
    background-size: 42vh;
    height: 36.5vh;
    width: 42vh;
    cursor: pointer;
}
#word-structures {
  background: url('../../../assets/img/buttons/word_structures.png') no-repeat scroll transparent;
  background-size: 46.5vh;
  margin-left: 12vh;
  height: 36.5vh;
  width: 47vh;
  cursor: pointer;
}
#secret-stuff {
  background: url('../../../assets/img/buttons/secret_stuff.png') no-repeat scroll transparent;
  background-size: 36vh;
  transform: translate(-24vh, -18.3vh);
  width: 36vh;
  height: 18vh;
  cursor: pointer;
}
#nobodys-better {
  background: url('../../../assets/img/buttons/nobodys_better.png') no-repeat scroll transparent;
  background-size: 36vh;
  width: 36vh;
  height: 18vh;
  transform: translate(12vh, 0.5vh);
  cursor: pointer;
}
.button {
    margin-top: 2vh;
    border: none;
}

.container {
  margin-left: -18vh;
}
/* Clear floats after the columns */
.column:after {
  content: "";
  display: table;
  clear: both;
}
