#background {
    background-color: #FFFFFF !important;
}

#side-menu {
    background: url('../../../assets/img/home-side-bar.png') no-repeat scroll 0 0 transparent;
    background-size: 17.3vh 97vh;
}

#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 30vh;
  position: relative;
}

#phonics {
    background: url('../../../assets/img/buttons/Phonics_logo.png') no-repeat scroll 0 0 transparent;
    margin-left: 4vh;
    background-size: 45vh 45vh;
}
#alphabet {
    background: url('../../../assets/img/buttons/alphabet_letters.png') no-repeat scroll 0 0 transparent;
    background-size: 54vh 39vh;
}
#grade {
  background: url('../../../assets/img/buttons/grade_level.png') no-repeat scroll 0 0 transparent;
  margin-left: 2.5vh;
  background-size: 39vh 40vh;
}
#secret {
  background: url('../../../assets/img/buttons/secret_stuff.png') no-repeat scroll 0 0 transparent;
  background-size: 45vh 35vh;
}

.phonics_logo {
    width: 45vh;
    height: 45vh;
    display: block;
    cursor: pointer;
    border: none;
}
.alphabet_logo {
    width: 54vh;
    height: 39vh;
    display: block;
    cursor: pointer; 
    border: none;
    margin-top: 9vh;
}
.grade_level {
  width: 39vh;
  height: 41vh;
  display: block;
  cursor: pointer;
  border: none;
}
.secret_stuff {
  width: 45vh;
  height: 35vh;
  display: block;
  cursor: pointer; 
  border: none;
  margin-top: 10vh;
}

.column {
  float: left;
  width: 50%;
}
.second {
  margin-top: 5vh;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
