#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 38vh;
  position: relative;
}

#column {
    width: 93.5vh;
}

/* Phonics Categories */
#vowels {
    background: url('../../assets/img/categories/vowels.png') no-repeat scroll 0 0 transparent;
    background-size: 44vh 20vh;
}

.category_button {
    width: 54vh;
    height: 23vh;
    margin-top: 10vh;
    cursor: pointer;
    border: none;
}
