<!-- Links -->
<!-- <link rel='stylesheet' type='text/css' href='../css/main.css' />
<link rel='stylesheet' type='text/css' href='../css/phoneme-categories.css' /> -->

<!-- Scripts -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/typescript" src="../ts/phoneme-categories.ts"></script> -->

<!-- <div id='background'>
    <div id='side-menu'>
        <button mat-icon-button class='icon'></button>
    </div>
</div> -->

<h1>Phoneme Categories Page</h1>