#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 23vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../../assets/img/backgrounds/first_consonants.png') no-repeat scroll transparent;
      background-position: 27vh;
      background-size: auto 100vh;
  }
  
  /* 1st Categories */
  #beginning-sounds {
      width: 63vh;
      height: 8vh;
      margin: 5vh 0vh 0vh 15vh;
  }
  #ending-sounds {
    width: 75vh;
    height: 13vh;
  }
  #beginning-blends {
    width: 105vh;
    height: 13vh;
  }
  #ending-blends {
    width: 95vh;
    height: 13vh;
  }
  #beginning-digraphs {
    height: 15vh;
  }
  #ending-digraphs {
    height: 19vh;
  }

  .column {
    padding-top: 10vh;
  }

  .category_button {
      margin: 0 0vh 0vh 15vh;
      width: 127vh;
      border: none;
      display: inherit;
      cursor: pointer;
      display: block;
      background-color: transparent;
  }