#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../../assets/img/backgrounds/k_ending_sounds.png') no-repeat scroll transparent;
      background-position: center top;
      background-size: 127vh;
  }
  
  /* Pre-K Categories */
  #lowercase_alphabetical {
      background: url('../../../../assets/img/buttons/k_ending_sounds_alphabetical.png') no-repeat scroll transparent;
      background-position: center;
      background-size: 60vh;
      cursor: pointer;
      width: 60vh;
      height: 15vh;
      margin-top: 0.5vh;
  }
  #lowercase_bmras {
    background: url('../../../../assets/img/buttons/k_ending_sounds_bmras.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 65vh;
    cursor: pointer;
    width: 65vh;
    height: 16vh;
  }
  #uppercase_alphabetical {
    background: url('../../../../assets/img/buttons/k_ending_sounds_capital_alphabetical.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 75vh;
    cursor: pointer;
    width: 75vh;
    height: 18vh;
  }
  #uppercase_bmras {
    background: url('../../../../assets/img/buttons/k_ending_sounds_capital_bmras.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 75vh;
    cursor: pointer;
    width: 75vh;
    height: 18vh;
  }

  .column {
    padding-top: 12vh;
  }

  .category_button {
      margin: 5vh 0vh 0vh 41vh;
      border: none;
      display: inherit;
  }
