#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../../assets/img/backgrounds/k_ending_sounds.png') no-repeat scroll transparent;
      background-position: center top;
      background-size: 132vh;
  }
  
  /* Pre-K Categories */
  #lowercase_alphabetical {
      background: url('../../../../assets/img/buttons/k_ending_sounds_alphabetical.png') no-repeat scroll transparent;
      background-position: center;
      background-size: 72vh;
      cursor: pointer;
      width: 72vh;
      height: 14vh;
      margin-top: 2.5vh;
      margin-left: 10vh;
  }
  #lowercase_bmras {
    background: url('../../../../assets/img/buttons/k_ending_sounds_bmras.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 72vh;
    cursor: pointer;
    width: 77vh;
    height: 21vh;
    margin-top: 2vh;
    margin-left: 10vh;
  }
  #uppercase_alphabetical {
    background: url('../../../../assets/img/buttons/k_ending_sounds_capital_alphabetical.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 52vh;
    cursor: pointer;
    width: 55vh;
    height: 13vh;
    margin-top: 5.5vh;
    margin-left: 10vh;
  }
  #uppercase_bmras {
    background: url('../../../../assets/img/buttons/k_ending_sounds_capital_bmras.png') no-repeat scroll transparent;
    background-position: center;
    background-size: 84vh;
    cursor: pointer;
    width: 89vh;
    height: 22vh;
    margin-top: 4vh;
    margin-left: 10vh;
  }

  .column {
    padding-top: 12vh;
  }

  .category_button {
      margin-left: 25vh;
      border: none;
      display: inherit;
  }
