<div id='background'>
    <div id='main-body'>
        <div class='column'>
                <button mat-icon-button class='category_button' id='short' (mouseenter)='playAudio($event)' [routerLink]="['/list-select']" [queryParams]="{'grade' : '2nd', 'list': 'V-short'}"></button>
                <button mat-icon-button class='category_button' id='long' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'grade' : '2nd', 'list': 'V-long'}"></button>
                <button mat-icon-button class='category_button' id='ysounds' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'grade' : '2nd', 'list': 'Y'}"></button>
                <button mat-icon-button class='category_button' id='schwa' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'grade' : '2nd', 'list': 'V-schwa'}"></button>
                <button mat-icon-button class='category_button' id='pairs' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'grade' : '2nd', 'list': 'VP'}"></button>
        </div>
    </div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' (click)='goBack()'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/'></button>
        <button mat-icon-button class='icon bottom' id='bank' routerLink='/coins'></button>
        <button mat-icon-button class='icon bottom' id='puzzle' routerLink='/puzzles'></button>
    </div>
</div>