/* You can add global styles to this file, and also import other style files */
#background {
    width: 187vh;
    height: 97vh;
    background-color: #6EC7D4;
    margin: auto;
}

#side-menu {
    width: 17vh;
    height: 92.5vh;
    background-color: #C4E8E6;
    padding-top: 4.5vh;
    position: relative;
}

.icon {
    width: 9.5vh;
    height: 9.5vh;
    display: block;
    position: absolute;
    margin-left: 3.8vh;
    cursor: pointer;
    margin-bottom: 3.5vh;
    border: none;
}

/* Side Menu Icons */
#home {
    background: url('./assets/img/buttons/home.png') no-repeat scroll 0 0 transparent;
    background-size: 9.5vh 9.5vh;
    top: 16.5vh;
}
#back {
    background: url('./assets/img/buttons/back.png') no-repeat scroll 0 0 transparent;
    background-size: 9.5vh 9.5vh;
}
#quiz {
    background: url('./assets/img/buttons/quiz.png') no-repeat scroll 0 0 transparent;
    background-size: 9.5vh 9.5vh;
    bottom: 39.5vh;
}
#repeat {
    background: url('./assets/img/buttons/repeat.png') no-repeat scroll 0 0 transparent;
    background-size: 9.5vh 9.5vh;
    bottom: 26.5vh;
}
#bank {
    background: url('./assets/img/buttons/bank.png') no-repeat scroll 0 0 transparent;
    background-size: 9.5vh 9.5vh;
    bottom: 13.5vh;
    cursor: auto;
}
#puzzle {
    background: url('./assets/img/buttons/puzzle.png') no-repeat scroll 0 0 transparent;
    background-size: 9.5vh 9.5vh;
    bottom: 0.5vh;
    cursor: auto;
    opacity: 0.6;
}

/* Text */
@font-face {
    font-family: 'ComicSans';
    src: url('./assets/fonts/comic-sans.ttf');
}
