:host {
  text-align: center;
}

#background {
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}

@media only screen and (min-width: 1024px) {
  .buttons-container {
    width: 95%;
  }
}

@media only screen and (min-width: 1367px) {
  .buttons-container {
    width: 80%;
  }
}

.menu__title {
  font-size: 4.5vw;
  margin: 0;
}

.menu_subtitle {
  font-size: 2.5vw;
  margin: 0;
}

[class*='menu__button'] {
  border: 3px solid black;
  border-radius: 15px;
  margin: 0.6vh 1vw;
  min-height: 20vh;
  vertical-align: middle;
}

.menu__text {
  font-size: 1.8vw;
  min-width: 13.5vw;
  margin: 0 0 0.5rem 0;
}

@media only screen and (min-width: 1024px) {
  .menu__text {
    font-size: 2.1vw;
  }
}

.menu__button--last-row {
  background-color: var(--red);
  font-size: 3vw;
  min-height: 7.5vw;
  width: 75%;
}

.buttons-container.figures-of-speech {
  width: 100%;
}

div.figures-of-speech {
  display: flex;
}

div.figures-of-speech:nth-child(12) {
  margin-right: 0;
}

@media only screen and (min-width: 1025px) {
  div.figures-of-speech:nth-child(12) {
    margin-right: 15.5vw;
  }
}

button.figures-of-speech {
  min-height: 15vh;
  margin: 4vh 0.75vw;
}

.figures-of-speech h2 {
  font-size: 3.25vh;
  min-width: 12vw;
}

/* force landscape mode */
@media only screen and (orientation: portrait) {
  .menu__title {
    font-size: 4.5vh;
  }

  .menu_subtitle {
    font-size: 2.5vh;
  }

  [class*='menu__button'] {
    margin: 0.6vw 1vh;
    min-height: 20vw;
  }

  .menu__text {
    font-size: 1.8vh;
    min-width: 13.5vh;
  }

  .menu__button--last-row {
    font-size: 3vh;
    min-height: 7.5vh;
  }

  button.figures-of-speech {
    min-height: 15vw;
    margin: 4vw 0.75vh;
  }

  .figures-of-speech h2 {
    font-size: 3.25vw;
    min-width: 12vh;
  }
}
