:host {
  text-align: center;
}

.buttons-container {
  width: 75vw;
  margin: auto;
}

.menu__title {
  font-size: 4rem;
  margin: 0;
}

[class*='menu__button'] {
  border: 3px solid black;
  border-radius: 15px;
  margin: 0.5rem 1rem;
  min-height: 9.25rem;
  vertical-align: middle;
}

.menu__text {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
  min-width: 12.5rem;
}

.menu__button--last-row {
  background-color: var(--red);
  font-size: 3rem;
  width: 75%;
}
