#background {
    background-color: #FFFFFF !important;
}

#side-menu {
    background: url('../../assets/img/home-side-bar.png') no-repeat scroll 0 0 transparent;
    background-size: 121px 680px;
}

/* Phonics Logo */
#phonics {
    background: url('../../assets/img/Phonics_logo.png') no-repeat scroll 0 0 transparent;
    background-size: 60vh 60vh;
}

.logo {
    width: 60vh;
    height: 60vh;
    margin-top: 11vh;
    margin-left: 40vh;
    display: block;
    cursor: pointer;
    border: none;
}