#background {
    background-color: #FFFFFF !important;
}

#side-menu {
    background: url('../../assets/img/home-side-bar.png') no-repeat scroll 0 0 transparent;
    background-size: 17.3vh 97vh;
}

#main-body {
  width: 169.7vh;
  height: 0vh;
  padding-left: 30vh;
  position: relative;
}

/* Phonics Logo */
#phonics {
    background: url('../../assets/img/Phonics_logo.png') no-repeat scroll 0 0 transparent;
    background-size: 60vh 60vh;
}

#alphabet {
    background: url('../../assets/img/alphabet_letters.png') no-repeat scroll 0 0 transparent;
    background-size: 68vh 50vh;
    opacity: 0.6;
}

.phonics_logo {
    width: 60vh;
    height: 60vh;
    display: block;
    cursor: pointer;
    border: none;
}

.alphabet_logo {
    width: 68vh;
    height: 50vh;
    display: block;
    /* cursor: pointer; */
    border: none;
    margin-top: 9vh;
}

.column {
  float: left;
  width: 50%;
  margin-top: 15vh;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
