#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../../assets/img/backgrounds/second_blend_details.png') no-repeat scroll transparent;
      background-position: 18vh;
      background-size: 180vh;
  }
  
  /* Second Categories */
  #begin {
      background: url('../../../../assets/img/buttons/second_blend_begin.png') no-repeat scroll transparent;
      background-size: 80vh;
      margin-top: 8vh;
      cursor: pointer;
      width: 79vh;
  }
  #end {
    background: url('../../../../assets/img/buttons/second_blend_end.png') no-repeat scroll transparent;
    background-size: 70vh;
    width: 68vh;
    cursor: pointer;
  }
  #three-letter {
    background: url('../../../../assets/img/buttons/second_blend_3.png') no-repeat scroll transparent;
    background-size: 79vh;
    cursor: pointer;
    width: 77vh;
  }

  .column {
    padding-top: 12vh;
  }

  .category_button {
      margin: 9vh 0vh 0vh 16vh;
      height: 12.5vh;
      border: none;
      display: inherit;
  }
  