#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../../assets/img/backgrounds/second_blend_details.png') no-repeat scroll transparent;
      background-position: center top;
      background-size: 160vh;
  }
  
  /* Second Categories */
  #begin {
      background: url('../../../../assets/img/buttons/second_blend_begin.png') no-repeat scroll transparent;
      background-size: 35vh;
      cursor: pointer;
      width: 35vh;
  }
  #end {
    background: url('../../../../assets/img/buttons/second_blend_end.png') no-repeat scroll transparent;
    background-size: 32vh;
    width: 31vh;
    cursor: pointer;
  }
  #slr {
    background: url('../../../../assets/img/buttons/second_blend_slr.png') no-repeat scroll transparent;
    background-size: 61vh;
    margin-top: 4.5vh;
    cursor: pointer;
    width: 61vh;
  }
  #three-letter {
    background: url('../../../../assets/img/buttons/second_blend_3.png') no-repeat scroll transparent;
    background-size: 46vh;
    cursor: pointer;
    margin-top: 3.3vh;
    width: 45vh;
  }

  .column {
    padding-top: 12vh;
  }

  .category_button {
      margin: 4vh 0vh 0vh 33vh;
      height: 12.5vh;
      border: none;
      display: inherit;
  }
  