#main-body {
    width: 169.7vh;
    height: 0vh;
    padding-left: 40vh;
    position: relative;
  }
  
  #background {
      background-color: #FFFFFF !important;
      background: url('../../../assets/img/backgrounds/grade_levels.png') no-repeat scroll transparent;
      background-size: 167.8vh;
      background-position: right;
  }

  /* Phonics Categories */
  #pre_k {
      background: url('../../../assets/img/buttons/pre_k.png') no-repeat scroll transparent;
      background-size: 40vh 23vh;
      cursor: pointer;
  }
  #kindergarten {
      background: url('../../../assets/img/buttons/kindergarten.png') no-repeat scroll transparent;
      margin-left: -12vh;
      background-size: 64vh 24vh;
      cursor: pointer;
  }
  #first {
    background: url('../../../assets/img/buttons/1st.png') no-repeat scroll transparent;
    background-position: center;
    margin-left: -20vh;
    transform: translateY(-2vh);
    background-size: 31.3vh;
    cursor: pointer;
  }
  #second {
      background: url('../../../assets/img/buttons/2nd.png') no-repeat scroll transparent;
      transform: translateY(21vh);
      background-size: 28.8vh;
      cursor: pointer;
  }
  #third {
      background: url('../../../assets/img/buttons/3rd.png') no-repeat scroll transparent;
      margin-left: -17vh;
      background-size: 30.9vh;
      cursor: pointer;
  }
  
  .grade_level {
      width: 64vh;
      height: 24vh;
      margin-top: 5vh;
      border: none;
      margin-left: auto;
  }
  
  /* Clear floats after the columns */
  .column:after {
    content: "";
    display: table;
    clear: both;
  }  