<div id='background'>
    <div id='main-body'>
        <div class='column'>
            <div class='row'>
                <button mat-icon-button class='grade_level' id='pre_k' (mouseenter)='playAudio($event)' [routerLink]="['/list-select']" [queryParams]="{'list': 'phoneme'}"></button>
                <button mat-icon-button class='grade_level' id='kindergarten' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'list': 'phoneme'}"></button>
                
            </div>
            <div class='row'>
                <button mat-icon-button class='grade_level' id='first' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'list': 'phoneme'}"></button>
                <button mat-icon-button class='grade_level' id='second' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'list': 'phoneme'}"></button>
                <button mat-icon-button class='grade_level' id='third' (mouseenter)='playAudio($event)' [routerLink]='["/list-select"]' [queryParams]="{'list': 'phoneme'}"></button>
            </div>
        </div>
    </div>

    <div id='side-menu'>
        <button mat-icon-button class='icon' id='back' routerLink='/'></button>
        <button mat-icon-button class='icon' id='home' routerLink='/'></button>
        <button mat-icon-button class='icon bottom' id='bank'></button>
        <button mat-icon-button class='icon bottom' id='puzzle'></button>
    </div>
</div>